body{
    background-color: #0F172A;
    padding: 0%;
    margin: 0%;
    width: 100%;
    /* height: 200%; */
    display:flex;
}

header{
    height: 100%;
    width: 40%;
    margin: 100px 0 0 50px;
    position: sticky;
    top: 100px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}


h1{
    font-size: 4.5rem;
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Oswald', sans-serif;

    color: #E2E8F0;
    margin: 0%;
    width: max-content;
    /* padding: 0%; */
}
h2{
    margin:12px 0% 0%;
    padding: 0%;
    font-size: 1.8rem;
    font-family: 'Raleway', sans-serif;
    color: #E2E8F0;
}
h3{
    font-size: 1rem;
    /* color: rgba(160, 155, 155, 0.644); */
    color: white;
    letter-spacing: 1px;
    font-size: 1.3rem;
}
a {
    outline: none;
    text-decoration: none;
    color: #eceef1;
}

ul{
    margin-top: 30px;
    list-style:none;
    /* padding-right: 0%; */

}

li{
    /* display: block; */
    padding: 3px 3px 3px;
    width: max-content;
    position: relative;
    margin: 20px 0% 0% 0%;
    font-size: 16px ;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    /* display: flex; */
}

li::after{
    content: "";
    position: absolute;
    left:-50px;
    width: 30px;
    height: 2px;
    background-color: white;
    top: 0.5em;
}
li:hover{
    margin-left: 40px;
}
li:hover::after{
    left: -90px;
    width: 70px;
}

/* img{
    width: 30px;
    height: 30px;
    margin-top: 60px;
    cursor: pointer;
    background: #0F172A;
} */



/* ---------------------------------------------------------------------------------------------- */
/* --------------------------------LATERAL DERECHO----------------------------------------------- */
/* ---------------------------------------------------------------------------------------------- */

section{
    height: 100%;
    width: 60%;
    margin-top: 50px;
}
.portada{
    margin-top: -10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagenPortada{
    width: 80%;
    height: 80%;
    
}
.conte-parrafo{
    margin: 100px  10% ; 
}
.conte-parrafo1{
    margin: 100px 5% 10% ; 
}
hr{
    inset: 0;
    margin: auto;
    width: 450px;
}

.conteSobreMi{
    margin: 30px 0px;
    padding: 0px 20px;
    font-size: 1.3rem;
    /* color: #e2e8f0a1; */
    color: white;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 3px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 4px;
    line-height: 1.3;

}
#sobreMi{
    scroll-margin-top: 130px;
}
#experiencia{
    scroll-margin-top: 130px;
}

.conteCajaExperiencia{
    display: flex;
    padding: 0px 10px;
    justify-content: left;
    align-items: baseline;
    margin-bottom: 20px;
}
.conteCajaExperiencia:hover{
    background-color: rgba(0, 195, 255, 0.171);
    border-radius: 15px;
    cursor: default;
}

.conteFecha{
    width: 30%;
    /* background-color: aqua; */
    color: #e2e8f0a1;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h5{
    color: #e2e8f0a1;
    font-size: 14px;
    margin-top: 0px;
}
h4{
    color: rgba(255, 255, 255, 0.767);
    margin-bottom: 8px;
    font-size: large;
    text-align: center;
}

.conteCajaTrabajoYExperiencia{
    width: 70%;
}


/* .facu{
    width: 200px;
    height: 200px;
    object-fit: cover;
    inset: 0;
    margin: auto;
    /* background-color: aqua; 
}
.contenn{
    display: flex;
    inset: 0;
    margin: auto;
} */


.conteCajaProyectos{
    display: flex;
    padding: 10px 10px;
    align-items: start;
    margin-bottom: 20px;
    cursor: pointer;
}

.conteCajaProyectos:hover{
    background-color: rgba(0, 255, 106, 0.171);
    border-radius: 15px;
    cursor: pointer;

}


.conteImgProyecto{
    width: 30%;
    height: 200px;
}

.conteImgProyecto img{
    width: 100%;
    height: 100%;
    border-radius: 10%;
    object-fit: fill;
}

.contenedorMemoria{
    width: 70%;
    padding: 0 15px;
}
.contenedorMemoria1{
    width: 70%;
    padding: 0 15px;
    margin-top: -20px;
}


